__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv/
env.bak/
venv.bak/

# Database
*.db
*.sqlite

# Models
*.pt
*.onnx

# Images
snapshots/
backend/snapshots/

# Node
node_modules/
dist/
npm-debug.log

# Docker
.docker/
